<div class="p-4">
  <h2 class="text-3xl font-bold">Program lists</h2>
  <div class="p-4">
    <p class="text-lg">Basic natural number operation</p>
    <div class="flex flex-wrap gap-4 p-4">
      <app-link-button
        *ngFor="let link of basicOp"
        [link]="link"
      ></app-link-button>
    </div>
  </div>
  <div class="p-4">
    <p class="text-lg">Advance natural number operation</p>
    <div class="flex flex-wrap gap-4 p-4">
      <app-link-button
        *ngFor="let link of advanceOp"
        [link]="link"
      ></app-link-button>
    </div>
  </div>
</div>
