<div class="grid grid-cols-1 gap-4 p-4">
  <h1 class="text-3xl font-bold">Natural number checking</h1>
  <p>
    To check if the desired number is a natural number. The number must be an
    integer and is greater than zero.
  </p>
  <div class="p-4 flex justify-center">
    <div class="flex gap-4">
      <input
        type="number"
        [formControl]="numberInput"
        class="w-48 px-4 py-2 rounded-lg border focus:outline-0 font-[NotoSerif]"
        placeholder="Type number..."
      />
      <button
        type="button"
        (click)="checkNumber()"
        class="px-4 py-2 rounded-lg bg-zinc-700 text-zinc-100"
      >
        Check
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 font-[NotoSerif]">
    <div *ngIf="isNullInput" class="p-4 flex gap-4 rounded-lg bg-zinc-950 text-yellow-400">
      <div class="grow-0 shrink-0">
        <warning-circle></warning-circle>
      </div>

      <p>Your input is null. Please input something.</p>
    </div>
    <div *ngIf="isLimitExceeded" class="p-4 flex gap-4 rounded-lg bg-zinc-950 text-red-400">
      <div class="grow-0 shrink-0">
        <warning-triangle></warning-triangle>
      </div>
      <p>
        To keep the system from failing. We limit numbers between
        <katex [expression]="limitNumber.toString()"></katex> and
        <katex [expression]="limitNumber.toString()"></katex>. Please enter a
        number that meets this condition.
      </p>
    </div>
    <div *ngIf="isResultChecked" class="p-4 rounded-lg bg-zinc-950 text-white">
      <div class="flex gap-2">
        <ng-container
          *ngIf="conditionResult[0]; then trueMark; else falseMark"
        ></ng-container>
        <p>
          <katex [expression]="resultNumber!.toString()"></katex> is integer
        </p>
      </div>
      <div class="flex gap-2">
        <ng-container
          *ngIf="conditionResult[1]; then trueMark; else falseMark"
        ></ng-container>
        <p>
          <katex [expression]="resultNumber!.toString()"></katex> is greater
          than 0
        </p>
      </div>
      <p class="font-bold mt-4">
        Therefore, <katex [expression]="'\\mathbf{'+resultNumber!.toString()+'}'"></katex> is
        <span *ngIf="!conditionResult[0] || !conditionResult[1]">not</span>
        natural number.
      </p>
    </div>
  </div>
</div>

<ng-template #trueMark>
  <true-mark class="text-green-500"></true-mark>
</ng-template>

<ng-template #falseMark>
  <false-mark class="text-red-500"></false-mark>
</ng-template>
