<div class="grid grid-cols-1 gap-4 p-4">
  <h1 class="text-3xl font-bold">Natural number checking</h1>
  <p>
    To check if the desired number is a natural number. The number must be an
    integer and is greater than zero.
  </p>
  <div class="p-4 flex justify-center">
    <div class="flex gap-4">
      <input
        type="number"
        [formControl]="numberInput"
        class="px-4 py-2 rounded-lg border focus:outline-0"
        placeholder="Type number..."
      />
      <button
        type="button"
        (click)="checkNumber()"
        class="px-4 py-2 rounded-lg bg-zinc-700 text-zinc-100"
      >
        Check
      </button>
    </div>
  </div>
  <div
    *ngIf="isNullInput"
    class="p-4 flex gap-4"
  >
    <div class="grow-0 shrink-0 text-yellow-500">
      <warning-circle></warning-circle>
    </div>

    <p>Your input is null. Please input something.</p>
  </div>
  <div
    *ngIf="isLimitExceeded"
    class="p-4 flex gap-4"
  >
    <div class="grow-0 shrink-0 text-red-500">
      <warning-triangle></warning-triangle>
    </div>
    <p>
      To keep the system from failing. We limit numbers between -{{
        limitNumber
      }}
      and {{ limitNumber }}. Please enter a number that meets this condition.
    </p>
  </div>
  <div *ngIf="isResultChecked" class="rounded-lg p-4">
    <div class="flex gap-2">
      <ng-container
        *ngIf="conditionResult[0]; then trueMark; else falseMark"
      ></ng-container>
      <p>{{ resultNumber }} is integer</p>
    </div>
    <div class="flex gap-2">
      <ng-container
        *ngIf="conditionResult[1]; then trueMark; else falseMark"
      ></ng-container>
      <p>{{ resultNumber }} is greater than 0</p>
    </div>
    <p class="font-bold mt-4">
      Therefore, {{ resultNumber }} is
      <span *ngIf="!conditionResult[0] || !conditionResult[1]">not</span>
      natural number.
    </p>
  </div>
</div>

<ng-template #trueMark>
  <true-mark class="text-green-500"></true-mark>
</ng-template>

<ng-template #falseMark>
  <false-mark class="text-red-500"></false-mark>
</ng-template>
